/* styles.module.css */
.benefitsBoxWrap {
  width: 100%;
  margin-top: 0px;
  padding-top: 2rem;
  /*padding-right: 7rem;*/
  padding-bottom: 2rem;
  /*padding-left: 4rem;*/ /* Fixme: components should not handle this on their own*/
}

.tabs {
  padding-top: 3rem;
}

.rightColumn {
  margin-top: -3rem;
}

.tabList {
  cursor: pointer;
  margin-bottom: 4rem;
}

.tabSelected {
  background-color: var(
    --ifm-background-color
  ) !important; /* no special background when selected */
}

.tab:active {
  background-color: #e0e0e0; /* temporary background color when clicking on item */
  transition: background-color 0.3s ease; /* Smooth transition */
}

 .tabs ul {
  list-style-type: none; /* Remove default list style */
  padding-left: 0;
}

.tabLabel {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: var(--ifm-color-primary);
}

.buttonWrap {
  margin-top: 2rem;
}
