.logoContainer {
  padding: 20px;
  text-align: center; /* Center the text within the logo container */
  display: flex; /* Use flex to enable vertical centering */
  flex-direction: column; /* Stack logo and text vertically */
  align-items: center; /* Center items horizontally in the flex container */
  margin: auto; /* Center the logo container in the flex parent if needed */
}

.imageWrap {
  max-width: 15rem;
  height: 100px;
}

.link {
  text-transform: uppercase;
  font-size: 0.8rem;
}
