# netlify.toml file
# Header configuration

[[headers]]
  for = "/*"
  [headers.values]
    # Prevents the site from being framed by other sites, protecting against clickjacking.
    X-Frame-Options = "DENY"
    # Activates the browser's built-in cross-site scripting (XSS) filter and blocks responses if an attack is detected.
    X-XSS-Protection = "1; mode=block"
    # Ensures that only trusted content is executed and styled.
    Content-Security-Policy = "default-src 'self'; script-src 'self' https://cardano.org https://new-cardano-org-staging.netlify.app https://www.googletagmanager.com; img-src 'self' https://cardano.org https://new-cardano-org-staging.netlify.app data: https://*.ytimg.com; style-src 'self'; frame-src 'self' https://www.youtube.com; media-src 'self' https://www.youtube.com"
    # Enforces secure connections via HTTPS, protecting against certain types of man-in-the-middle attacks.
    Strict-Transport-Security = "max-age=63072000; includeSubDomains; preload"
    # Controls information provided as the HTTP Referer header when navigating from your site, enhancing privacy and security.
    Referrer-Policy = "no-referrer-when-downgrade"
    # Allows you to explicitly enable or disable various browser features and APIs for your site, enhancing security.
    Feature-Policy = "geolocation 'none'; microphone 'none';"

# Specific header configuration for iframe exceptions
[[headers]]
  for = "/archive/static.iohk.io/adasale/*"
  [headers.values]
    X-Frame-Options = "SAMEORIGIN"
    # This path has it's own content security policy
    Content-Security-Policy = "default-src 'self'; script-src 'self' https://cardano.org https://new-cardano-org-staging.netlify.app https://www.googletagmanager.com https://maxcdn.bootstrapcdn.com; img-src 'self' https://cardano.org https://new-cardano-org-staging.netlify.app data:; style-src 'self' 'unsafe-inline'; font-src 'self' https://maxcdn.bootstrapcdn.com"