/*
:root {
  --background-image: url('/img/hero-header-dots.webp');  
}

[data-theme='dark'] {
  --background-image: url('/img/hero-header-dots-dark.webp');  
}
*/

.leftColumn {
  /*background-image: var(--background-image); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.rightColumn {
  padding: 30px;  
}
 