/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 /* Buttons */
 .cta .button {
  margin-right: 1rem; /* space between buttons */
  width: 240px; /* force equal width */
}

 html[data-theme=light] .button {
  background-color: rgb(255, 255, 255);
  color: var(--ifm-color-primary);
}

html[data-theme=dark] .button {
  background-color: var(--ifm-button-background-color);
  color: var(--ifm-button-color);
}

.cta .button:last-child {
  margin-right: 0; /* no extra margin to the right of the the last button right: */
}

 /* Banner */ 

.heroBanner {
  padding: 4rem 2rem;;
  text-align: left;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 35% 50%;
  height: 830px;
}

html[data-theme=light] .heroBanner {
  background-image: url(/img/hero-header-welcome-fallback.jpg);
  /*background-image: linear-gradient(315deg, rgb(91, 123, 202), rgb(10, 56, 166));*/
}

html[data-theme=dark] .heroBanner {
  background-image: url(/img/hero-header-welcome-fallback.jpg);
}

/* screen size changes */

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 4rem;
  }
  .heroBanner {
    padding: 4rem;
    background-size: cover;
    background-position: 50% 50%;
  }
  .cta .button {
    margin-bottom: 1rem; 
  }
}

@media screen and (max-width: 1024px) {
  .heroBanner {
    background-position: 35% 50%;
  }
}

@media screen and (min-width: 1950px) {
  .heroBanner {
    background-repeat: no-repeat;
    background-size: cover;
  }
}
