.quoteTypeRed {
  color: rgb(255, 118, 118);
}

.quoteTypeGreen {
  color: rgb(59, 121, 130);
}

.quoteTypeBlack {
  color: var(--ifm-color-base);
}

html[data-theme="dark"] {
  .quoteTypeGreen {
    color: rgb(78, 136, 145);
  }
}

.noquote {
  font-size: 18px;
}

.quote {
  /*font-size: 18px;*/
}

.quote::before {
  content: "“";
  font-size: 5rem;
  color: rgb(
    255,
    85,
    83
  ); /* todo: we may want this in the same color as the text */
  line-height: 0;
  position: absolute;
  margin-top: 5px;
  margin-right: -50px;
}
