/* Base styles for larger screens */
.container {
  display: flex; /* Use flexbox layout */
  align-items: center; /* Center items vertically */
  justify-content: start; /* Align content to the start */
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px; /* Adjust the space between the image and the text */
}

.imageWrap {
  flex: 1; /* Allow the image to grow */
  max-width: 30rem; /* Maximum width of image */
}

.textWrap {
  flex: 2; /* Allow the text to take up twice the space of the image */
  max-width: 50rem; /* Maximum width of text */
  text-align: left; /* Left align the text */
  margin-left: 40px; 
}

/* Styles for smaller screens */
@media (max-width: 768px) { /* Adjust the breakpoint as needed */
  .container {
    flex-direction: column; /* Stack flex children vertically */
    align-items: stretch; /* Stretch children to full width */
  }

  .imageWrap,
  .textWrap {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%; /* Allow image and text to fill the container */
    text-align: left; /* Center text for smaller screens */
  }
  
  .imageWrap {
    margin-bottom: 20px; /* Add space between the image and text */
  }
}
