/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children vertically */
  justify-content: center; /* Center children horizontally */
  text-align: center; /* Center text for any inline children */
  }

 .taglineContainer {
  width: 70%;
}

.iconWrapper {
  position: relative;
  display: inline-flex; /* Use inline-flex to center content */
  align-items: center; /* Vertical center */
  justify-content: center; /* Horizontal center */
  margin: 0 10px; /* Adjust the spacing between icons */
  width: 50px; /* Circle size */
  height: 50px; /* Circle size */
  border-radius: 50%; /* Make it round */
  z-index: 0;
}

html[data-theme=light] .iconWrapper {
  color: var(--icon-fg-color, #ffffff); /* Default light theme color */
}

html[data-theme=dark] .iconWrapper {
  color: var(--icon-fg-color, #000000); /* Override for dark theme */
}

.iconWrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.8rem; /* Adjust size of the circle */
  height: 2.8rem; /* Adjust size of the circle */
  background-color: var(--icon-bg-color);
  border-radius: 50%;
  z-index: -1;
  transition: background-color 0.15s ease-in-out;
}

.iconWrapper svg {
  width: 1.5rem; /* Adjust icon size */
  height: 1.5rem; /* Adjust icon size */
  position: relative;
  z-index: 1;
}
 
/* screen size changes */
@media screen and (max-width: 966px) {
  .taglineContainer {
    width: 100%;
  }
}