.quoteBoxWrap {
  width: 100%;
  margin-top: 0px;
  background-color: var(--ifm-background-color);
  padding-top: 2rem;
  padding-right: 7rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.quoteBox {
  background-color: #335cbe;
  color: white;
  padding: 20px;
  border-radius: 5px;
  margin: 10px 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 70rem;
}

.textContainer {
  display: flex;
  align-items: center;
}

.imageWrap {
  picture,
  img {
    min-width: 5rem;
    margin-right: 30px; /* add some space between logo and the text */
  }
}

.description {
  font-size: 18px;
  max-width: 50rem;
  padding-bottom: 30px;
}

.quote {
  font-size: 18px;
  max-width: 50rem;
  margin: 30px 0px 30px 0px;
  color: #ffdddd; /* super slight red */
}

.quote::before {
  content: "“";
  font-size: 5rem;
  color: rgb(255, 85, 83);
  line-height: 0;
  position: absolute;
  margin-top: 5px;
  margin-right: -50px;
}

@media screen and (max-width: 576px) {
  .quoteBoxWrap {
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
  }

  .quoteBox {
    padding: 15px;
    margin: 5px 0;
  }

  .textContainer {
    flex-direction: column; /* Stack image and description vertically */
    align-items: flex-start; /* Align items to the start of the container */
  }

  .imageWrap img {
    min-width: 3rem; /* Reduce image width */
    margin-right: 15px; /* Reduce space between logo and text */
    margin-bottom: 10px; /* Add space between logo and description when stacked */
  }

  .description, .quote {
    font-size: 16px; /* Reduce font size */
    max-width: 100%; /* Allow text to fill container */
    padding-bottom: 15px; /* Reduce bottom padding */
  }

  .quote::before {
    font-size: 4rem; /* Reduce size of quotation mark */
    margin-right: -25px; /* Adjust position */
    margin-top: -10px; /* Adjust top margin to align correctly */
  }
}