.boxWrap {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically within the container */
  color: #ffffff;
}

.upperRow,
.lowerRow {
  width: 100%; /* Ensure the row takes the full width of its container */
  display: flex;
  justify-content: center; /* Center children horizontally within the container */
}

/* white style cta button */

.buttonWhite {
  background-color: #fdfdfb;
  color: #1c1e21;
  border: none;
  font-weight: normal;
}

.buttonWhite:hover,
buttonWhite:focus {
  background-color: #cbcbc9;
  color: #1c1e21;
  border: none;
  font-weight: normal;
}
