.visionBoxWrap {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visionBox {
  color: var(--ifm-color-primary);
  margin: 10px 0;
  margin-left: auto;
  margin-right: auto;
}

.visionBox h2 {
  font-size: 3rem;
  line-height: 1.2; /* Adjust line-height to control space between lines */
  margin-bottom: 0; /* Adjust bottom margin as needed */
  text-align: center;
}
