.container {
  display: flex; /* Use flexbox layout */
  align-items: column;
  justify-content: flex-start; /* Align content to the start */
  padding: 20px;
  gap: 20px; /* Adjust the space between the image and the text */
}

.imageWrap {
  display: flex; /* Use flex to center the image within */
  align-items: center; /* Center the image vertically */
  justify-content: center; /* Center the image horizontally */
  padding: 10px;
  padding-top: 60px;
  width: 10rem;
  height: 8rem;
  min-width: 8rem;
}

.textWrap {
  max-width: 50rem; /* Adjusted for more text, you can set it to fit your content */
  text-align: left; /* Left align the text */
  margin-left: 40px;
  margin-right: auto;
}
