.container {
  position: relative;
  width: 100%;
  background-image: linear-gradient(
    315deg,
    rgb(91, 123, 202),
    rgb(10, 56, 166)
  );
  color: #ffffff;
  min-height: 25rem;
}

[data-theme="dark"] {
  .container {
    background-image: linear-gradient(315deg, rgb(43, 89, 205), rgb(0, 24, 80));
  }
}

:root {
  --background-image: url("/img/hero-header-zoom-full.png");
}

[data-theme="dark"] {
  --background-image: url("/img/hero-header-zoom-full.png");
}

.backgroundImageContainer {
  display: flex; /* Enable Flexbox */
  flex-direction: column; /* Stack flex items vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally if you have a specific layout that requires it */

  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 45rem;
}

/* FeaturedTitleWithText */
.leftColumn {
  padding-top: 100px;
  padding-left: 100px;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.rightColumn {
  padding-top: 100px;
  padding-right: 100px;
  color: #ffffff;
  font-size: 18px;
}

.rightColumn a {
  color: #ffffff;
  text-decoration-line: underline;
}
