.discoverWrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Wrap items to the next line on smaller screens */
  gap: 2rem; /* Space between logo containers */
}

.discoverItems {
  /* This container will be responsible for the layout of the logo items */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; /* This will vertically align items if they have different heights */
  gap: 20px;
  
  max-width: 70rem;
}

/* Individual item styling to ensure they take up the right amount of space */
.discoverItem { /* Assuming this class is applied to each WalletItem, adjust if the class name differs */
  flex: 1 1 calc(50% - 20px); /* Adjust the calc() value based on your gap */
  max-width: calc(50% - 20px); /* Ensures items do not stretch beyond 50% width minus the gap */
}

/* Media query for smaller screens to stack items in a single column */
@media (max-width: 768px) { /* Adjust breakpoint as necessary */
  .discoverItem {
    flex: 1 1 100%; /* Take full width on smaller screens */
    max-width: 100%;
  }

  .logoContainer {
    /* Adjust the padding if needed */
    padding: 10px;
  }
}
