.cta .button {
  margin-right: 1rem;
  width: 240px;
  font-weight: normal;
}

html[data-theme="light"] .button {
  background-color: #fff;
  color: var(--ifm-color-primary);
}

html[data-theme="dark"] .button {
  background-color: var(--ifm-button-background-color);
  color: var(--ifm-button-color);
}

.cta .button:last-child {
  margin-right: 0;
}

.taglineContainer {
  width: 50%;
  margin-bottom: 3rem;
}

.heroBanner {
  padding: 4rem 2rem;
  text-align: left;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 35% 50%;
  height: 830px;
}

html[data-theme="light"] .heroBanner,
html[data-theme="dark"] .heroBanner {
  background-image: url(/img/hero-header-welcome-fallback.jpg);
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
    background-position: 50% 50%;
  }
  .cta .button {
    margin-bottom: 1rem;
  }
  .taglineContainer {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .heroBanner {
    background-position: 35% 50%;
  }
  .heroContent {
    display: block;
  }
  .gridContainer {
    display: none;
  }
}

@media screen and (min-width: 1950px) {
  .heroBanner {
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1025px) {
  .heroBanner {
    height: auto !important;
    background: none !important;
    overflow: visible;
    padding: 0;
  }
  .heroContent {
    display: none;
  }
  .gridContainer {
    display: block;
    width: 100%;
    height: 550px;
    margin: 0 auto;
  }
}
