/* Base styles for larger screens */
.discoverItemWrap {
  display: flex; /* Use flexbox layout */
  align-items: top; /* Center items vertically */
  justify-content: flex-start; /* Align content to the start */
  flex-wrap: wrap;
  gap: 30px; /* Adjust the space between the image and the text */
  margin-top: 30px;
}

.imageWrap {
  flex: 1; /* Allow the image to grow */
  max-width: 30rem; /* Maximum width of image */
  padding-top: 20px;
}

.textWrap {
  flex: 2; /* Allow the text to take up twice the space of the image */
  max-width: 50rem; /* Maximum width of text */
  text-align: left; /* Left align the text */
}

.textWrap h2 {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-transform: none;
}

.flipOrder {
  flex-direction: row-reverse; /* This will place the image on the right */
}

/* Styles for smaller screens */
@media (max-width: 768px) {
  /* Adjust the breakpoint as needed */
  .discoverItemWrap,
  .container.flipOrder {
    flex-direction: column; /* Stack flex children vertically */
    align-items: stretch; /* Stretch children to full width */
  }

  .imageWrap,
  .textWrap {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%; /* Allow image and text to fill the container */
    text-align: left; /* Center text for smaller screens */
  }

  .imageWrap {
    margin-bottom: 20px; /* Add space between the image and text */
  }
}
