.docRoot {
  display: flex;
  width: 100%;
}

.docsWrapper {
  display: flex;
  flex: 1 0 auto;
}

/* Hide first h1 in doc content since hero shows the title */
.docsWrapper h1:first-of-type {
  display: none;
}
