/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 *
 * Details: https://docusaurus.io/docs/styling-layout
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0538af;
  --ifm-color-primary-dark: #325cbd;
  --ifm-color-primary-darker: #325cbd;
  --ifm-color-primary-darkest: #325cbd;
  --ifm-color-primary-light: #325cbd;
  --ifm-color-primary-lighter: #325cbd;
  --ifm-color-primary-lightest: #325cbd;
  --ifm-code-font-size: 95%;
  --ifm-footer-link-hover-color: #6684ce;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-navbar-link-color: #0538af; /* navbar in light mode */
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #6684ce;
  --ifm-color-primary-dark: #6684ce;
  --ifm-color-primary-darker: #6684ce;
  --ifm-color-primary-darkest: #6684ce;
  --ifm-color-primary-light: #6684ce;
  --ifm-color-primary-lighter: #6684ce;
  --ifm-color-primary-lightest: #6684ce;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-navbar-link-color: var(--ifm-font-color-base); /* navbar in dark mode */
}

/* GitHub icon */
.header-github-link:before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

html[data-theme="dark"] .header-github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.header-github-link:hover {
  opacity: 0.6;
}

html {
  scroll-behavior: smooth;
}

/* buttons */
.button {
  border-radius: 30px;
}

/* The navbar needs a little space so that the Cardano logo can breathe */
.navbar {
  height: 80px;
}

.navbar__logo {
  height: 35px;
  padding-left: 10px;
}

.navbar__item {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Chivo Font */
@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Chivo'), url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap&subset=latin') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; /* for Latin */
}


 

/* Cardano Brand */
body {
  font-family: Chivo, sans-serif; /* Replace with your font name */
}

h1 {
  font-family: Chivo, sans-serif;
  /*font-size: 6.8rem;*/
  font-weight: 700;
  line-height: 1.1;
  -webkit-letter-spacing: 0rem;
  -moz-letter-spacing: 0rem;
  -ms-letter-spacing: 0rem;
  letter-spacing: 0rem;
  text-transform: capitalize;
  font-size: 3.4;
  font-weight: 700;
  line-height: 1.1;
  margin: 2.75rem 0 1.05rem;
  text-transform: capitalize;
  -webkit-letter-spacing: 0;
  -moz-letter-spacing: 0;
  -ms-letter-spacing: 0;
  letter-spacing: 0;
} /*!sc*/

h2 {
  font-family: Chivo, sans-serif;
  /*font-size: 3.6rem;*/
  font-weight: 700;
  line-height: 1.2;
  -webkit-letter-spacing: 0.05rem;
  -moz-letter-spacing: 0.05rem;
  -ms-letter-spacing: 0.05rem;
  letter-spacing: 0.05rem;
  text-transform: capitalize;
  font-size: 2.8;
  font-weight: 700;
  line-height: 1.2;
  margin: 2.75rem 0 1.05rem;
  text-transform: capitalize;
  -webkit-letter-spacing: 0.05;
  -moz-letter-spacing: 0.05;
  -ms-letter-spacing: 0.05;
  letter-spacing: 0.05;
} /*!sc*/

h3 {
  font-family: Chivo, sans-serif;
  /*font-size: 2.88rem;*/
  font-weight: 700;
  line-height: 1.2;
  -webkit-letter-spacing: 0.05rem;
  -moz-letter-spacing: 0.05rem;
  -ms-letter-spacing: 0.05rem;
  letter-spacing: 0.05rem;
  text-transform: capitalize;
  font-size: 1.44;
  font-weight: 700;
  line-height: 1.2;
  margin: 2.75rem 0 1.05rem;
  text-transform: capitalize;
  -webkit-letter-spacing: 0.05;
  -moz-letter-spacing: 0.05;
  -ms-letter-spacing: 0.05;
  letter-spacing: 0.05;
} /*!sc*/

h4 {
  font-family: Chivo, sans-serif;
  /*font-size: 2.2rem;*/
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
} /*!sc*/

h5 {
  font-family: Chivo, sans-serif;
  /*font-size: 1.4rem;*/
  font-weight: 700;
  line-height: 1.4;
  -webkit-letter-spacing: 0.15rem;
  -moz-letter-spacing: 0.15rem;
  -ms-letter-spacing: 0.15rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-size: 0.7;
  font-weight: 700;
  line-height: 1.4;
  margin: 2.75rem 0 1.05rem;
  text-transform: uppercase;
  -webkit-letter-spacing: 0.15;
  -moz-letter-spacing: 0.15;
  -ms-letter-spacing: 0.15;
  letter-spacing: 0.15;
} /*!sc*/

h6 {
  font-family: Chivo, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4;
  -webkit-letter-spacing: 0.1rem;
  -moz-letter-spacing: 0.1rem;
  -ms-letter-spacing: 0.1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-size: 0.6;
  font-weight: 700;
  line-height: 1.4;
  margin: 2.75rem 0 1.05rem;
  text-transform: uppercase;
} /*!sc*/

a {
  outline-width: 0.5rem;
  color: var(--ifm-color-primary);
  -webkit-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
  -webkit-text-decoration: none;
  text-decoration: none;
} /*!sc*/

a:hover {
  color: #3b5fb7;
} /*!sc*/

img {
  max-width: 100%;
  height: auto;
} /*!sc*/

.red-text {
  color: rgb(255, 118, 118);
}

.blue-text {
  color: var(--ifm-color-primary);
}

.green-text {
  color: rgb(59, 121, 130);
}

.black-text {
  /*color: rgb(29, 30, 33);*/ /* bad example if you want to have dark mode */
  color: var(--ifm-font-color-base); /* good example */
}

.slight-text {
  color: rgb(187, 187, 187);
}

.headingDot {
  position: relative;
}

.headingDot::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: 0px;
  width: 1rem;
  height: 1rem;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  background-color: rgb(255, 118, 118);
}

/* FIXME: no longer used */
.box {
  width: 100%;
  padding-left: 4rem;
  padding-right: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hero {
  background-color: transparent;
}

/** Collapsible FAQ **/

.Collapsible {
  border: none;
}

.Collapsible__trigger {
  background: transparent;
  color: var(--ifm-base-color); /* Set the text color */
  font-size: 1rem; /* Set the text size */
  font-weight: bold; /* Bold text */
  text-align: left; /* Align text to the left */
  padding: 1rem; /* Add padding */
  display: flex; /* Use flexbox for positioning text and icon */
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Space between text and icon */
  cursor: pointer; /* Cursor pointer to indicate it's clickable */
}

.Collapsible__trigger:after {
  display: block;
  content: "";
  width: 1em; /* Adjust size as needed */
  height: 1em; /* Adjust size as needed */
  transition: transform 0.3s ease;
  background-image: url("data:image/svg+xml,%3Csvg stroke='currentColor' fill='currentColor' viewBox='0 0 448 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.Collapsible__trigger.is-open:after {
  transform: rotate(180deg);
}

.Collapsible__contentOuter {
  overflow: hidden;
  transition: height 0.3s ease;
}

.Collapsible__contentInner {
  padding: 1rem;
}

/*  alternating background styles */
.Collapsible.odd {
  background-color: #f6f7f9; /* odd rows */
}

.Collapsible.even {
  background-color: #fdfdfb; /* even rows */
}

[data-theme="dark"] {
  .Collapsible.odd {
    background-color: #f6f7f9; /* odd rows */
  }
  
  .Collapsible.even {
    background-color: #fdfdfb; /* even rows */
  }
}

[data-theme="dark"] .Collapsible.odd {
  background-color: #2d2d2d; /* dark gray for odd rows in dark mode */
}

[data-theme="dark"] .Collapsible.even {
  background-color: #252525; /* slightly darker gray for even rows in dark mode */
}

.Collapsible ul {
  list-style-type: disc; /* This makes standard bullets */
  margin-left: 20px; /* Adjust indentation of the list */
  padding-left: 0; 
}

/* section caret */

:root {
  --section-caret-fill-color: #ffffff; /* white caret fill for light mode */
}

/* Override the fill color for dark mode */
[data-theme="dark"] {
  --section-caret-fill-color: #1b1b1d; /* black for dark mode */
}

/* Apply the variable to the polygon fill */
.sectionCaret polygon {
  fill: var(--section-caret-fill-color);
}

.sectionCaret {
  height: 30px;
  width: 2048px;
  position: absolute;
  bottom: 0px;
  display: inline-block;
  left: 50%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: -1000px;
}


/* screen size changes */
@media screen and (max-width: 576px) {
  .hero h1 {
    font-size: 32px;
  }
  .hero p {
    font-size: 18px;
  }
  .hero__title {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .hero__subtitle {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 1950px) {
  .hero h1 {
    font-size: 48px;
  }
  .hero p {
    font-size: 24px;
  }

  .sectionCaret {
    height: 45px;
    width: 3000px;
    margin-left: -1500px;
  }
}

