/* Header.module.css */
.header {
  text-align: left;
  /*padding-top: 20px;*/
  padding-bottom: 20px;
}

.header h6 {
  font-weight: 700;
  margin-bottom: 10px; /* Space between title and horizontalBar */
  font-size: 1rem;
}

.horizontalBar {
  height: 1px; /* Thickness of the bar */
  width: 80%; /* Full width by default */
  transition: width 0.3s ease-in-out; /* Smooth transition for resizing */
}

:root {
  .header h6 {
    color: #777778;
  }
  .horizontalBar {
    background-color: #777778; /* Color of the bar */
  }
}

[data-theme="dark"] {
  .header h6 {
    color: #e3e3e3;
  }
  .horizontalBar {
    background-color: #e3e3e3; /* Color of the bar */
  }
}

/* White mode when used in darker BackgroundWrappers */

.white h6 {
  color: #ffffff !important;  
}

.white .horizontalBar {
  background-color: #ffffff !important; 
}

/* Responsive styles */
@media (max-width: 599px) {
  .horizontalBar {
    width: 50%; /* Adjust the width as needed for smaller screens */
  }
}
