.titleTypeRed {
  color: rgb(255, 118, 118);
}

.titleTypeGreen {
  color: rgb(59, 121, 130);
}

.titleTypeBlack {
  color: var(--ifm-color-base);
}

html[data-theme="dark"] {
  .titleTypeGreen {
    color: rgb(78, 136, 145);
  }
}
