/* styles.module.css */
.benefitsBoxWrap {
  width: 100%;
  margin-top: 0px;
  padding-top: 2rem;
  /*padding-right: 7rem;*/
  padding-bottom: 2rem;
  /*padding-left: 4rem;*/ /* Fixme: components should not handle this on their own*/
}

.tabs {
  padding-top: 3rem;
}

.rightColumn {
  margin-top: -3rem;
}

.tabList {
  cursor: pointer;
  margin-bottom: 4rem;
}

.tabSelected {
  background-color: var(
    --ifm-background-color
  ) !important; /* no special background when selected */
}

.tab:active {
  background-color: #e0e0e0; /* temporary background color when clicking on item */
  transition: background-color 0.3s ease; /* Smooth transition */
}

ul {
  list-style-type: none; /* Remove default list style */
  padding-left: 0;
}

.tabCategory {
  color: gray;
}

[data-theme="dark"] {
  .tabCategory {
    color: #e0e0e0;
  }
}

.tabLabel {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: var(--ifm-color-primary);
}

.tabIcon {
  margin-right: 8px; /* Add some space between the icon and the text */
  color: var(--ifm-color-primary);
}

.imageWrap {
  margin-top: 2rem;
  max-width: 22rem;
  margin-bottom: 2rem;
}

/* transition */
@keyframes swipeIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.swipeIn {
  animation: swipeIn 0.5s forwards;
}

.swipeOut {
  animation: swipeOut 0.5s forwards;
}
