/* UseCaseTextRight.module.css */
.enterpriseWrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 100px;
}

.imageSection {
  max-width: 15rem;
  padding-top: 35px;
  order: 1; /* By default, image comes before text */
}

.textSection {
  width: 70%;
  padding-bottom: 30px; 
  order: 2; /* By default, text comes after image */
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--ifm-color-primary);
}

.description {
  margin-bottom: 20px;
}

.solutions,
.product {
  font-size: 15px;
  margin-bottom: 5px;
}

.solutionsContent,
.productContent {
  font-size: 18px;
  margin-bottom: 15px;
}

/* Mobile view: ensure image is always first, regardless of isImageRight flag */
/* FIXME: unsolved issue between 983 and 1107 where it does not collapse as expected */
@media (max-width: 576px) {
  /* Adjust the max-width as necessary for your breakpoint */
  .imageSection{
    order: 1; /* Both will stack with the image on top */
    width: 100%;
    margin-top: 40px;
    padding: 0px;

  }
  .textSection {
    order: 1; /* Both will stack with the image on top */
    width: 100%;
    padding: 0px;
  }
  .enterpriseWrap {
    gap: 20px;
  }
}

/* Additional styles for when the image is on the right on large screens */
@media (min-width: 577px) {
  .imageRight {
    order: 2; /* Image will be second if isImageRight is true */
  }

  .textRight {
    order: 1; /* Text will be first if isImageRight is true */
  }
}

 

