.quoteBox {
  display: flex;  
  align-items: center;  
  background-color: #335CBE; 
  color: white;
  padding: 20px;
  border-radius: 5px;
  margin: 10px 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 90%;
}

.imageWrap {
  picture, img {
    min-width: 5rem; 
    margin-right: 30px; /* add some space between logo and the text */
  }
}

.description {
  font-size: 18px;
  margin-bottom: 15px;
}

.quote {
  font-size: 18px;
  max-width: 76rem;
  margin: 30px 0px 30px 0px; 
  color: #FFDDDD; /* super slight red */
}

.quote::before {
  content: "“";
  font-size: 5rem;
  color: rgb(255, 85, 83);
  line-height: 0;
  position: absolute;
  margin-top: 5px;
  margin-right: -50px
  }
